.chat-info-header {
  height: 8vh;
  position: absolute;
  top: 0;
  right: 0;
  width: 70vw;
  background: white;
  border: 1px solid lightgray;
  align-items: center;
  display: flex;
}

.chat-message {
  margin-left: 30vw;
  padding-top: 4vh;
  margin-top: 8vh;
  height: 80vh;
  border: 1px solid lightgray;
  background: #fafafa;
  position: relative;
  font-size: 16px;
  overflow: scroll;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.user-message {
}

.chat-section-wrapper {
    scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
  overflow: -moz-scrollbars-none; /* Firefox */
}